
.label {
font-weight: 700;
text-transform: uppercase;
text-align: center;
margin-top: -1em;
}

.label div {
position: relative;
left: -50%;
text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
}
.aligncenter {
display: block;
margin: 0 auto 1.2rem;
}

ul {
padding: 0px;
margin: 0px;
list-style: none;
}
 
li {
float: left;
position: relative;
width: 11em;
margin: 0;
padding: 0;
display: inline;
background: none;
}

li ul {
display: none;
position: absolute;
top: 1em;
left: 0px;
}
li > ul {
top: auto;
left: auto;
}

ul li a {
display: block;
text-decoration: none;
color: #363636;
background: no-repeat top left #EEF8FC;/*background:url(../leaflet/images/smenu.png) no-repeat top left #EEF8FC;*/
padding: 0px 0px 0px 0px;
}

li:hover ul, li.over ul{ 
display: block; 
}
a
{
  border: none;
  color: #000000;
  font-family: verdana, arial, tahoma;
  font-size: 12px;
  font-weight: bold;  
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;  
}

a:hover
{
  color: #000000;
  background: #73C9E3;
}

a.selected
{
  color: #73C9E3;
  text-decoration: underline;
}

a:focus {
    color: #23527c;
    text-decoration: none;
}

